<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <tittle>Some Website</tittle>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>

        {{> footer}}
    </body>
</html>